.regis-container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  background: url('/cvm.png') no-repeat center center/cover;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
}

.regis-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(4, 30, 54, 0.6); 
  z-index: 1;
}

.left-content {
  flex: 1;
  padding: 120px;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.branding {
  max-width: 600px;
}

.branding .logo {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #47eb07;
  letter-spacing: 1px;
}

.branding h2 {
  margin-left: -360px;
  font-size: 36px;
  margin-bottom: 20px;
}

.branding p {
  font-size: 23px;
  font-weight: 750;
  line-height: 1.6;
  color: #ffffff;
}

.register-rest {
  flex: 1;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.reges-form {
  background: rgb(250, 250, 252);
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  color: rgb(12, 11, 11);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.reges-form legend {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.reges-form label {
  margin-top: 15px;
  font-size: 14px;
}

.reges-form input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(63, 84, 107, 0.2);
  color: white;
  font-size: 14px;
}

.reges-form input::placeholder {
  color: #ddd;
}

.button-50 {
  margin-top: 30px;
  padding: 12px;
  background-color: #ff004f;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-50:hover {
  background-color: #e60045;
}
