.home_content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home_greet-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.home_main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home_first-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}