.home_content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home_greet-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.home_greet {
  font-size: 1.2em;
}

.home_main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.home_first-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.home_announcements {
  min-width: 400px;
  width:50%;
}

.att-container{
  display: flex;
  flex-wrap: wrap;
  padding: 70px 1em;
  margin-left: 200px;
  gap:1em
}
.att-s2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap:1em
}